<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WPF_Starter.Config.Settings.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WPF_Starter.Config.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WPF_Starter.Config.Settings.UserSettings>
            <setting name="BlockSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MaxExcelRows" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=.;Database=Person;Trusted_Connection=True;TrustServerCertificate=True;</value>
            </setting>
        </WPF_Starter.Config.Settings.UserSettings>
    </userSettings>
</configuration>