<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="BlockSize" value="100"/>
		<add key ="BufferSize" value="65536"/>
		<add key ="MaxExcelRows" value="1048576"/>
		<add key ="Page" value="0"/>
		<add key ="PageSize" value="1000"/>
		<add key ="ConnectionString" value="Server=.;Database=Person;Trusted_Connection=True;TrustServerCertificate=True;"/>
	</appSettings>
</configuration>